html, body {
  margin: 0;
  padding: 0;
  /* color:rgb(221, 8, 228); */
  background-color:#605770;
 
 
 }
 
 
 canvas {
  margin:auto;
  display: block;
 }
 
 
 h1{
  text-align: center;
 
 
 
 
 }
 p{
  -webkit-text-fill-color: #f5f4f5; /* Will override color (regardless of order) */
  -webkit-text-stroke: 0.2px black;
  text-align: center;
  margin:auto;
  width: 50%;
  padding:5px;
 }
